/* Poppins */
@font-face {
  font-family: 'Poppins-Black';
  font-display: swap;
  src: url('./fonts/Poppins/Poppins-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-BlackItalic';
  font-display: swap;
  src: url('./fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Bold';
  font-display: swap;
  src: url('./fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-BoldItalic';
  font-display: swap;
  src: url('./fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-ExtraBold';
  font-display: swap;
  src: url('./fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-ExtraboldItalic';
  font-display: swap;
  src: url('./fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Light';
  font-display: swap;
  src: url('./fonts/Poppins/Poppins-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-LightItalic';
  font-display: swap;
  src: url('./fonts/Poppins/Poppins-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Medium';
  font-display: swap;
  src: url('./fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-display: swap;
  src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Regular';
  font-display: swap;
  src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-MediumItalic';
  font-display: swap;
  src: url('./fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-SemiBold';
  font-display: swap;
  src: url('./fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-SemiBoldItalic';
  font-display: swap;
  src: url('./fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Thin';
  font-display: swap;
  src: url('./fonts/Poppins/Poppins-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-ThinItalic';
  font-display: swap;
  src: url('./fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype');
}
